# Ignore Node.js modules
node_modules
./node_modules
node_modules

# Ignore build artifacts
build
dist

# Ignore npm/yarn logs
npm-debug.log
yarn-error.log

# Ignore development files
.DS_Store
.env
.git
.gitignore
*.log
*.md
*.json
*.lock
*.bak
*.swp
*.swo
